<!DOCTYPE html>
<html lang="zxx">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="icons/icon-192x192.png" />
    <!-- Link of CSS files -->
    <link
      id="bootstrapStylesheet"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/remixicon.css" />
    <link rel="stylesheet" href="/css/odometer.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/scrollCue.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

    <title>The End Page</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>
  <body class="bg-f8f9fd">
    <!-- WEBGL Fluid particles -->
    <canvas id="fluid"></canvas>

    <div
      id="installCard"
      style="
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 300px;
        background: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 16px;
        z-index: 1000;
      "
    >
      <p>Install this app on your device for a better experience.</p>
      <button id="installAppBtn">Install</button>
      <button id="dismissCardBtn" style="margin-left: 10px">Dismiss</button>
    </div>

    <!--#region Preloader  -->
    <div
      class="preloader-area position-fixed top-0 start-0 end-0 bottom-0 text-center"
    >
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="loader"></div>
      </div>
    </div>
    <!--#endregion -->

    <!-- Sidemenu Area -->
    <div class="sidemenu-area d-none d-lg-block">
      <!-- <a href="index.html.twig" class="logo d-inline-block">
        <img src="/images/logo.svg" alt="logo" class="black-logo" />
        <img src="/images/white-logo.svg" class="d-none" alt="logo" />
      </a> -->

      <a href="index.html" class="logo d-inline-block">
        <img
          src="/images/avatars/logo-black.png"
          alt="logo"
          class="black-logo"
        />
        <img src="/images/avatars/logo.png" class="d-none" alt="logo" />
      </a>
      <button class="navbar-toggler" type="button">
        <img src="/images/icons/menu.svg" alt="menu" />
      </button>
      <div class="socials">
        <a href="https://www.facebook.com/" class="d-block" target="_blank">
          <i class="ri-facebook-circle-fill"></i>
        </a>
        <a href="https://www.instagram.com/" class="d-block" target="_blank">
          <i class="ri-instagram-line"></i>
        </a>
        <a href="https://www.youtube.com/" class="d-block" target="_blank">
          <i class="ri-youtube-fill"></i>
        </a>
      </div>
    </div>
    <!-- End Sidemenu Area -->

    <!-- Start Navbar Area -->
    <div class="navbar-area style-two top-0 start-0 end-0 h-auto">
      <div class="container">
        <nav class="navbar p-0">
          <a class="navbar-brand" href="index.html">
            <img
              src="/images/avatars/logo-black.png"
              alt="logo"
              class="black-logo"
            />
            <img
              src="/images/avatars/logo.png"
              class="d-none"
              alt="logo"
            />
          </a>
          <button class="navbar-toggler" type="button">
            <span class="burger-menu">
              <span class="top-bar"></span>
              <span class="middle-bar"></span>
              <span class="bottom-bar"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse">
            <div class="others-option">
              <button
                type="button"
                class="light-dark-btn d-inline-block p-0 bg-transparent border-0 lh-1"
                id="light-dark-btn"
              >
                <i class="ri-sun-line"></i>
              </button>
              <button
                type="button"
                class="btn primary_btn"
              >Se connecter / S’inscrire
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- End Navbar Area -->

    <!--#region Menu Popup Area  -->
    <div class="menu-popup-area position-fixed start-0 end-0 top-0 bottom-0">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-8 col-md-12">
                <div class="meanu-popup-nav">
                  <div class="accordion" id="navbarAccordion">
                    <div
                      class="accordion-item border-0 rounded-0 bg-transparent"
                    >
                      <a
                        class="accordion-button d-block w-100 shadow-none position-relative text-decoration-none bg-transparent fw-semibold without-icon"
                        href="index.html"
                      >
                        Homepage
                      </a>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-0 bg-transparent"
                    >
                      <a
                        class="accordion-button d-block w-100 shadow-none position-relative text-decoration-none bg-transparent fw-semibold without-icon"
                        href="endingsfeed.html"
                      >
                        Endingsfeed
                      </a>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-0 bg-transparent"
                    >
                      <a
                        class="accordion-button d-block w-100 shadow-none position-relative text-decoration-none bg-transparent fw-semibold without-icon"
                        href="contact.html"
                      >
                        Contact
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="menu-contact-info">
                  <div class="location">
                    <h5>Cascavelle</h5>
                    <p>Uniciti Office Park, Cascavelle, Mauritius</p>
                  </div>
                  <h4>support@lunex.com</h4>
                  <div class="socials">
                    <a href="#" class="d-inline-block" target="_blank">
                      <i class="ri-facebook-circle-fill"></i>
                    </a>
                    <a href="#" class="d-inline-block" target="_blank">
                      <i class="ri-instagram-line"></i>
                    </a>
                    <a href="#" class="d-inline-block" target="_blank">
                      <i class="ri-threads-line"></i>
                    </a>
                    <a href="#" class="d-inline-block" target="_blank">
                      <i class="ri-twitter-x-line"></i>
                    </a>
                    <a href="#" class="d-inline-block" target="_blank">
                      <i class="ri-youtube-fill"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="menu-popup-close-btn position-absolute rounded-circle text-center border-0 p-0"
      >
        <i class="ri-close-line"></i>
      </button>
    </div>
    <!--#endregion -->

    <!--#region Banner Area  -->
    <div class="creative-agency-banner-area position-relative z-1">
      <div
        class="container"
        data-cues="slideInUp"
        data-group="creativeAgencyBanner"
      >
        <div class="creative-agency-banner-content">
          <!-- <span class="sub-title d-block fw-medium">
                        The creative agency
                    </span> -->
          <div class="d-flex">
            <div class="title">
              <h1>C'est la fin</h1>
              <h1>
                <span class="d-inline-block">
                  sois <span id="emotionText">joyeux</span>
                </span>
              </h1>
            </div>
            <div
              class="position-absolute end-0 top-50 translate-middle-y"
              id="avatarContainer"
            >
              <img id="avatar" src="" alt="Avatar" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#endregion -->

    <!--#region How it works  -->
    <div class="services-area bg-black pt-150 pb-125">
      <div class="container">
        <div class="creative-agency-section-title text-white">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
              <div class="left-side">
                <h2 class="text-animation">Comment <span>ca marche</span></h2>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-12">
              <div class="right-side">
                <p>
                  We blend strategy, design, and technology to create impactful
                  brand experiences that drive growth and engage audiences.
                </p>
                <a href="services.html" class="default-btn">
                  View Services
                  <i class="ri-arrow-right-line"></i>
                </a>
              </div>
            </div> -->
          </div>
        </div>
        <div class="row justify-content-center" data-cues="slideInUp">
          <div class="col-lg-3 col-md-6">
            <div
              class="single-service-box position-relative z-1 h-100 d-flex flex-column justify-content-around"
            >
              <div>
                <h3>01</h3>
              </div>
              <div
                class="link-btn rounded-circle d-flex align-items-center justify-content-center"
              >
                <!-- <img
                  src="/images/icons/white-right-top-arrow2.svg"
                  alt="right-top-arrow"
                /> -->
                <lord-icon
                  src="https://cdn.lordicon.com/ibjcmcbv.json"
                  trigger="hover"
                  stroke="light"
                  state="hover-pinch"
                  colors="primary:#3080e8,secondary:#b4b4b4"
                  style="width: 60px; height: 60px"
                >
                </lord-icon>
              </div>
              <h3>Raconte ton histoire</h3>
              <p>
                Tu quittes quelque chose ? Raconte ta version, sans filtre, avec
                ou sans drama.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="single-service-box position-relative z-1 h-100 d-flex flex-column justify-content-around"
            >
              <div>
                <h3>02</h3>
              </div>
              <div
                class="link-btn d-inline-block rounded-circle d-flex align-items-center justify-content-center"
              >
                <!-- <img
                  src="/images/icons/white-right-top-arrow2.svg"
                  alt="right-top-arrow"
                /> -->
                <lord-icon
                  src="https://cdn.lordicon.com/iwlihxdl.json"
                  trigger="hover"
                  stroke="light"
                  state="hover-pinch"
                  colors="primary:#3080e8,secondary:#b4b4b4"
                  style="width: 60px; height: 60px"
                >
                </lord-icon>
              </div>
              <h3>Ajoute ton humeur</h3>
              <p>
                Ironique, touchant, classe ou ultra cringe… À toi de choisir
                l’ambiance de ta sortie.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="single-service-box position-relative z-1 h-100 d-flex flex-column justify-content-around"
            >
              <div>
                <h3>03</h3>
              </div>
              <div
                class="link-btn d-inline-block rounded-circle d-flex align-items-center justify-content-center"
              >
                <lord-icon
                  src="https://cdn.lordicon.com/eqaxvzkf.json"
                  trigger="hover"
                  stroke="light"
                  state="hover-pinch"
                  colors="primary:#3080e8,secondary:#b4b4b4"
                  style="width: 60px; height: 60px"
                >
                </lord-icon>
              </div>
              <h3>Personnalise ta page</h3>
              <p>
                Ajoute du texte, des gifs, des sons, des regrets (ou pas). Ta
                page, ton style.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div
              class="single-service-box position-relative z-1 h-100 d-flex flex-column justify-content-around"
            >
              <div>
                <h3>04</h3>
              </div>
              <div
                class="link-btn d-inline-block rounded-circle d-flex align-items-center justify-content-center"
              >
                <lord-icon
                  src="https://cdn.lordicon.com/vesvelsm.json"
                  trigger="hover"
                  stroke="light"
                  state="hover-pinch"
                  colors="primary:#3080e8,secondary:#b4b4b4"
                  style="width: 60px; height: 60px"
                >
                </lord-icon>
              </div>
              <h3>Partage-la</h3>
              <p>
                Envoie le lien à qui tu veux. Ou à tout le monde. Parce que ta
                fin mérite d’être vue.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#endregion -->

    <!--#region End feed  -->
    <div class="projects-area bg-black pb-150">
      <div class="container">
        <div class="creative-agency-section-title text-white">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
              <div class="left-side">
                <h2 class="text-animation">Ends feed</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="right-side">
                <p>
                  Les portes claquent. Les pages s’écrivent. Voici ce que les
                  gens laissent derrière eux… ou balancent bien fort.
                </p>
                <a href="{{ path('app_ending_index')}}" class="default-btn">
                  Voir endings
                  <i class="ri-arrow-right-line"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="projects-circle-list text-center position-relative">
          <img
            src="/images/shapes/circle.svg"
            class="d-none d-lg-inline-block"
            alt="border-image"
          />
          <div class="images text-start">
            <div class="image">
              <img
                src="/images/projects/project5.jpg"
                alt="project-image"
              />
              <div class="text"></div>
            </div>
            <div class="image">
              <img
                src="/images/projects/project6.jpg"
                alt="project-image"
              />
              <div class="text"></div>
            </div>
            <div class="image">
              <img
                src="/images/projects/project7.jpg"
                alt="project-image"
              />
              <div class="text"></div>
            </div>
            <div class="image">
              <img
                src="/images/projects/project8.jpg"
                alt="project-image"
              />
              <div class="text"></div>
            </div>
            <div class="image">
              <img
                src="/images/projects/project9.jpg"
                alt="project-image"
              />
              <div class="text"></div>
            </div>
          </div>
          <div class="contents text-start">
            <div class="item">
              <img src="/images/avatars/logo.png" />
            </div>
            <div class="item">
              <img src="/images/avatars/logo.png" />
            </div>
            <div class="item">
              <img src="/images/avatars/logo.png" />
            </div>
            <div class="item">
              <img src="/images/avatars/logo.png" />
            </div>
            <div class="item">
              <img src="/images/avatars/logo.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#endregion -->

    <!--#region Humeur disponible  -->
    <div class="case-studies-area pt-150">
      <div class="container">
        <div class="digital-agency-section-title">
          <!-- <span class="sub-title position-relative d-block">
            Case studies
          </span> -->
          <div class="row align-items-end">
            <div class="col-lg-8 col-md-8">
              <h2 class="text-animation">Les humeurs disponibles</h2>
            </div>
            <div class="col-lg-4 col-md-4 text-md-end">
              <a href="{{ path('app_ending_index')}}" class="default-btn style-two">
                Voir tous les humeurs
                <i class="ri-arrow-right-line"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-12">
            <div class="case-studies-list" data-cues="slideInUp">
              <div class="item position-relative">
                <h3>Joyeux</h3>
                <p>
                  "C'était moi « Merci pour tout. C’était fun, mais l’aventure
                  continue ailleurs ! »ou rien. Vous avez choisi rien."
                </p>
                <!-- <span class="d-block date"> 17 Mar 2025 </span> -->
                <div class="link-btn d-inline-block rounded-circle text-center">
                  <img
                    src="/images/icons/big-right-top-arrow2.svg"
                    alt="big-right-top-arrow"
                  />
                  <img
                    src="/images/icons/white-right-top-arrow3.svg"
                    alt="big-right-top-arrow"
                  />
                </div>
              </div>
              <div class="item position-relative">
                <h3>Triste</h3>
                <p>
                  « Je pars avec le cœur lourd… mais des souvenirs plein la
                  tête. »
                </p>
                <div class="link-btn d-inline-block rounded-circle text-center">
                  <img
                    src="/images/icons/big-right-top-arrow2.svg"
                    alt="big-right-top-arrow"
                  />
                  <img
                    src="/images/icons/white-right-top-arrow3.svg"
                    alt="big-right-top-arrow"
                  />
                </div>
              </div>
              <div class="item position-relative">
                <h3>En colère</h3>
                <p>
                  « Il fallait bien que quelqu’un dise les choses. Je claque la
                  porte. »
                </p>
                <div class="link-btn d-inline-block rounded-circle text-center">
                  <img
                    src="/images/icons/big-right-top-arrow2.svg"
                    alt="big-right-top-arrow"
                  />
                  <img
                    src="/images/icons/white-right-top-arrow3.svg"
                    alt="big-right-top-arrow"
                  />
                </div>
              </div>
              <div class="item position-relative">
                <h3>Choqué</h3>
                <p>
                  « Attendez… QUOI ?! Je pars ?! Moi-même je ne le réalise pas
                  encore. »
                </p>
                <div class="link-btn d-inline-block rounded-circle text-center">
                  <img
                    src="/images/icons/big-right-top-arrow2.svg"
                    alt="big-right-top-arrow"
                  />
                  <img
                    src="/images/icons/white-right-top-arrow3.svg"
                    alt="big-right-top-arrow"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <div class="case-studies-image" data-cue="slideInUp">
              <div class="images position-relative">
                <div class="image">
                  <img
                    src="/images/avatars/funny-man.jpg"
                    alt="funny-man"
                  />
                </div>
                <div class="image">
                  <img src="/images/avatars/sad-man.png" alt="sad-man" />
                </div>
                <div class="image">
                  <img
                    src="/images/avatars/angry-man.png"
                    alt="angry-man"
                  />
                </div>
                <div class="image">
                  <img
                    src="/images/avatars/shocked-ppl.png"
                    alt="shocked-man"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#endregion -->

    <!--#region Hall of fame  -->
    <div class="services_area bg_image">
      <div class="white_top_rectangle bg_f8f9fd"></div>
      <div class="ptb-150 overflow-hidden">
        <div class="container">
          <div class="section_title white_color style_two text_animation">
            <div class="sub_title d-inline-block">
              <span class="d-flex align-items-center text-uppercase">
                Hall of fame
                <img
                  src="/images/icons/white_arrow_long_right.svg"
                  alt="white_arrow_long_right"
                />
              </span>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-10">
                <h2 class="mb-0 fw-bold">
                  Voici les pages les plus mythiques, les plus partagées, les plus inoubliables.

                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div
                class="services_slides position-relative owl-carousel owl-theme d-flex justify-content-center"
                data-cue="slideInUp"
              >
                <div class="service_box position-relative">
                  <h3 class="fw-bold">
                    <div href="service-single.html">Angelly_MT</div>
                  </h3>
                  <video width="100%" height="100%" controls>
                    <source src="/videos/fame.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                  </video>
                  <div class="details_link_btn">
                    <i class="ri-arrow-right-up-line"></i>
                  </div>
                </div>
                <div class="service_box position-relative border-winner">
                  <h3 class="fw-bold">
                    <div>Siven_MT</div>
                  </h3>
                  <video width="100%" height="100%" controls>
                    <source src="/videos/fame.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                  </video>
                  <div href="service-single.html" class="details_link_btn">
                    <i class="ri-arrow-right-up-line"></i>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <img
                        src="/images/icons/media_target.svg"
                        class="icon d-block w-auto"
                        alt="media_target"
                      />
                    </div>
                    <div class="col-md-12">
                      <p class="mb-0">
                        Tonton a quitté son job pour ouvrir une friterie
                        spirituelle, Et la petite dernière a quitté la
                        maternelle en criant “je suis une artiste incomprise”.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="service_box position-relative">
                  <h3 class="fw-bold">
                    <div>Arivalen_MT</div>
                  </h3>
                  <video width="100%" height="100%" controls>
                    <source src="/videos/fame.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                  </video>
                  <div class="details_link_btn">
                    <i class="ri-arrow-right-up-line"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="browse_all_services_btn text-center" data-cue="slideInUp">
            <a href="endingsfeed.html">
              View endings <i class="ri-arrow-right-up-line"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--#endregion -->


    <!--#region Testimonials Area  -->
    <div
      class="testimonials-area bg-image position-relative z-1 bg-black ptb-150"
    >
      <div class="container">
        <div class="creative-agency-section-title text-white">
          <div class="left-side">
            <h2 class="text-animation">Témoignages clients</h2>
          </div>
        </div>
        <div class="swiper testimonialsSwiper" data-cue="slideInUp">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  “The End.page m’a permis de quitter mon ancien poste avec style et humour. 
                  J’ai adoré pouvoir choisir un ton ironique pour ma page de départ, 
                  ça a vraiment détendu l’atmosphère avec mes collègues.”
                </p>
                <h3 class="fw-normal">Sophie M.</h3>
                <span class="d-block"> Chargée de communication</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  “Créer ma page de départ a été simple et rapide. La plateforme est intuitive, et les options de personnalisation sont top. Une super façon de laisser une trace positive avant de partir !”

                </p>
                <h3 class="fw-normal">Marc D.</h3>
                <span class="d-block">
                  Développeur web
                </span>
              </div>
            </div>
          </div>
          <div
            class="swiper-navigation d-flex align-items-center justify-content-end"
          >
            <div class="swiper-button-prev">
              <img
                src="/images/icons/white-left-arrow.svg"
                alt="white-left-arrow"
              />
            </div>
            <div class="swiper-button-next">
              <img
                src="/images/icons/white-right-arrow.svg"
                alt="white-right-arrow"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="shape2">
        <img src="/images/shapes/shape2.svg" alt="shape2" />
      </div>
    </div>
    <!--#endregion -->

    <!--#region Footer  -->
    <footer class="creative-agency-footer-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="footer-left-side position-relative">
              <h2 class="mb-0">
                Collaborez avec
                <img
                  src="/images/users/user1.jpg"
                  class="rounded-circle"
                  alt="user-image"
                />
                <span>nous</span>
              </h2>
              <a
                href="register.html"
                class="link-btn d-inline-block rounded-circle text-center"
                data-cue="slideInUp"
              >
                <img src="/images/circle-text.svg" alt="circle-text" />
                <img
                  src="/images/icons/big-right-top-arrow.svg"
                  alt="right-top-arrow"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="footer-right-side">
              <div class="socials">
                <a href="#" class="d-inline-block" target="_blank">
                  <i class="ri-facebook-circle-fill"></i>
                </a>
                <a href="#" class="d-inline-block" target="_blank">
                  <i class="ri-instagram-line"></i>
                </a>
                <a href="#" class="d-inline-block" target="_blank">
                  <i class="ri-threads-line"></i>
                </a>
                <a href="#" class="d-inline-block" target="_blank">
                  <i class="ri-twitter-x-line"></i>
                </a>
                <a href="#" class="d-inline-block" target="_blank">
                  <i class="ri-youtube-fill"></i>
                </a>
              </div>
              <div class="custom-links row">
                <div class="col-6">
                  
                  <p>
                    Chez The End.page, chaque départ est une occasion de marquer les esprits. Nos utilisateurs partagent comment la plateforme a transformé leurs adieux en moments mémorable
                  </p>
                </div>
                <div class="col-6">
                  <h3>Liens utiles</h3>
                  <ul class="ps-0 mb-0 list-unstyled">
                    <li>
                      <a href="index.html"> Accueil </a>
                    </li>
                    <li>
                      <a href="endingsfeed.html.html"> Endingsfeed </a>
                    </li>
                    <li>
                      <a href="contact.html"> Contact </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="location">
                <div class="position-relative">
                  <img
                    src="/images/icons/map-marker.svg"
                    alt="map-marker-icon"
                  />
                  <h3>Cascavelle</h3>
                  <span class="d-block">
                    Uniciti Office Park, Cascavelle, Mauritius
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area position-relative">
          <p>
            &copy; 2025
            <a href="index.html">The End.page</a>. All rights reserved.
          </p>
          <div class="go-top rounded-circle">
            <img src="/images/icons/up-arrow.svg" alt="up-arrow" />
            <img
              src="/images/icons/white-up-arrow.svg"
              alt="white-up-arrow"
            />
          </div>
        </div>
      </div>
    </footer>
    <!--#endregion -->

    <!-- Elfsight AI Chatbot | Untitled AI Chatbot -->
    <script
      src="https://static.elfsight.com/platform/platform.js"
      async
    ></script>
    <div
      class="elfsight-app-19fd8737-5a98-4fd4-95db-f182f9cf541e position-absolute top-50 right-0 translate-middle-y"
      data-elfsight-app-lazy
    ></div>

    <!-- Link of JS files -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/appear.min.js"></script>
    <script src="/js/scrollCue.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/odometer.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/SplitType.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.156.1/build/three.min.js"></script>

    <script src="/js/ScrollTrigger.min.js"></script>
    <script src="/js/SplitText.min.js"></script>
    <script src="/js/smooth-scroll.js"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
